#full-size 
{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0a1419;
    color: #fff;
    margin: 0;
}

h1, h2{
    font-family: "Michroma", sans-serif;
    color: #3D7A99;
}


html {
    background-color: #0A1419;
}

p, h3, li{
    color: #fff;
    font-family: "Lato", sans-serif;
}

h1{
    font-size: 4em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
}

.project{
    background-color: #224455;
    border-radius: 12px 12px 0 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.project p{
    font-size: 18px;
}

.project-image{
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr{
    width: 90vw;
    border: 3px solid #fff;
    border-radius: 2px;
}

.project-grid{
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.item-container{
    width: 80%;
}

@media (max-width: 1000px){
    .project-grid{
        grid-template-columns: auto;
    }
}

.tag-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.work-list{
    list-style:square;
    color: #fff;
}

.work-list li{
    margin-bottom: 0.5rem;
    font-size: 18px;
}

.tag{
    color: #000;
    padding: 5px 12px;
    border-radius: 24px;
    font-weight: bold;
    font-size: 18px;
    margin: 12px;
    text-align: center;
}
.role{
    background-color: #4674D9;
    
}
.tech{
    background-color: #1BF8E5;
}
.skill{
    background-color: #55A9D4;
}

a{
    color: #65CAFC;
}
a:visited{
    color: #4489AB ;
}