:root{
    /* Theme colors */
    --background: #F6FAFA;
    --text-color: black;
    --color-heading: #1860be;
    --color-anchor: #0000ff;
    --color-anchor-hover: #7d00ff;
    --color-running-sections: #DFEDF6;
    --color-highlight: #036621;
    --full-height: calc(100vh - 64px);
    --color-card: #DFEDF6;
}

@media (prefers-color-scheme: dark){
    :root{
        /* Theme colors */
        --background: #0a1419;
        --text-color: white;
        --color-heading: #99DDFF;
        --color-anchor: #99DDFF;
        --color-anchor-hover: #1BF8E5;
        --color-running-sections: #214354;
        --color-highlight: #42C48E;

        --color-card:#171e27;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        overflow-wrap: break-word;
}

html{
    color: var(--text-color);
    background-color: var(--background);
}

a{
    color: var(--color-anchor);
}

a:hover, a:focus-visible{
    color: var(--color-anchor-hover);
    text-decoration: underline dashed;
}

h1,h2,h3{
    color: var(--color-heading);
}
h1,h2,h3,h4,h5,h6{
    font-family: "Michroma", sans-serif;
}


h1{
    font-size: 32px;
 }

 h2{
     font-size: 28px;
 }

h3{
    font-size: 20px;
} 

@media (width>= 992px) {
    h1{
     font-size: 64px;
     }
    
     h2{
        font-size: 48px;
     }
    
     h3{
        font-size: 32px;
     } 
}

header{
    background-color: var(--color-running-sections);
    display: flex;
    justify-content: space-around; 
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 21px;
}

footer{
    text-align: center;
    padding: 24px;
    background-color: var(--color-running-sections);
}

body{
    margin: 0;
    font-family: "Lato", sans-serif;
}

.header-navigation > *{
    padding: 12px;
}

#hero{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    min-height: var(--full-height);
}

#experience-section{
    padding: 0 24px;
    display: flex;
    flex-direction: column;
}

#work-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
@media (width >= 992px) {
    #work-container{
    grid-template-columns: 1fr 1fr 1fr;
    }
}
.experience-container{
    padding: 24px 12px 24px 12px; 
}

.experience-card{
    background-color: var(--color-card);
    display: block;
    padding: 18px;
    border-radius: 8px;
    margin-top: 12px;
}

ul{
    padding-left: 40px;
}

