.img-text{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 3vh;
}
.text-img{
    display: flex;
    flex-direction: column;
}

.img-col{
    max-width: 70%;
    min-width: 70%;
    display: flex;
    align-content: center;
}

.text-col{
    min-width: 0;
    overflow-wrap: break-word;
    padding: 24px;
}

img{
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5vh 4vw;
    column-gap: 2vw;
}

.site-card{
    background-color: var(--color-card);
    margin-bottom: 3vh;
    border-radius: 2vw 2vw 0 0;
}

.site-card > *, .site-card > * > *{
    margin-bottom: 2vh;
}
.site-card > img{
    border-radius: 2vw 2vw 0 0;
}

@media (width >= 640px) {
    .gallery{
        grid-template-columns: 1fr 1fr; 
    }
}

@media (width>= 1080px) {
    .img-text, .text-img{
        flex-direction: row;
    }
    .img-col{
        max-width: 50%;
        min-width: 50%;
    }
    .gallery{
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}


.roadmap-sh{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    padding: 48px;
    border-radius: 24px;
    background-color: var(--color-card);
}

@media (width >=1180px) {
    .roadmap-sh{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
